<div class="bny-row">
    <div class="text-content-box col-xs12 col-sm9">
        <div class="text-content">
            <h1>表单</h1>
            <hr>
            <blockquote class="bny-blockquote">
                表单组件
            </blockquote>
            <h2 id="n01">输入框</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <input type="text" name="" placeholder="文本框" class="bny-input">
                            </input>
                            <br>
                            <textarea name="" placeholder="多行文本框" class="bny-textarea"></textarea>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;input type=&quot;text&quot; name=&quot;&quot; placeholder=&quot;文本框&quot; class=&quot;bny-input&quot;&gt;
&lt;br&gt;
&lt;textarea name=&quot;&quot; placeholder=&quot;多行文本框&quot; class=&quot;bny-textarea&quot;&gt;&lt;/textarea&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n-prefix-suffix">前缀/后缀</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <div class="bny-input-group">
                                <span class="bny-input-prefix">@</span>
                                <input type="text" class="bny-input" placeholder="用户名">
                            </div>
                            <br>
                            <div class="bny-input-group">
                                <input type="text" class="bny-input" placeholder="网址">
                                <span class="bny-input-suffix">.bnyui.com</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;@&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;用户名&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;网址&quot;&gt;
    &lt;span class=&quot;bny-input-suffix&quot;&gt;.bnyui.com&lt;/span&gt;
&lt;/div&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h3>图标前缀/后缀</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <div class="bny-input-group">
                                <span class="bny-input-prefix"><i class="bny-icon icon-search"></i></span>
                                <input type="text" class="bny-input" placeholder="搜索...">
                            </div>
                            <br>
                            <div class="bny-input-group">
                                <input type="text" class="bny-input" placeholder="邮箱">
                                <span class="bny-input-suffix"><i class="bny-icon icon-mail"></i></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;&lt;i class=&quot;bny-icon icon-search&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;搜索...&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;邮箱&quot;&gt;
    &lt;span class=&quot;bny-input-suffix&quot;&gt;&lt;i class=&quot;bny-icon icon-mail&quot;&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h3>按钮后缀</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <div class="bny-input-group">
                                <input type="text" class="bny-input" placeholder="输入关键字">
                                <span class="bny-input-suffix">
                                    <button class="bny-btn" color="blue">搜索</button>
                                </span>
                            </div>
                            <br>
                            <div class="bny-input-group">
                                <span class="bny-input-prefix">
                                    <button class="bny-btn" model="border">检查</button>
                                </span>
                                <input type="text" class="bny-input" placeholder="域名">
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;输入关键字&quot;&gt;
    &lt;span class=&quot;bny-input-suffix&quot;&gt;
        &lt;button class=&quot;bny-btn&quot; color=&quot;blue&quot;&gt;搜索&lt;/button&gt;
    &lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;
        &lt;button class=&quot;bny-btn&quot; model=&quot;border&quot;&gt;检查&lt;/button&gt;
    &lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;域名&quot;&gt;
&lt;/div&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h3>前缀 + 后缀组合</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <div class="bny-input-group">
                                <span class="bny-input-prefix">￥</span>
                                <input type="text" class="bny-input" placeholder="0.00">
                                <span class="bny-input-suffix">.00</span>
                            </div>
                            <br>
                            <div class="bny-input-group">
                                <span class="bny-input-prefix">http://</span>
                                <input type="text" class="bny-input" placeholder="example.com">
                                <span class="bny-input-suffix">
                                    <button class="bny-btn" color="green">前往</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;￥&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;0.00&quot;&gt;
    &lt;span class=&quot;bny-input-suffix&quot;&gt;.00&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;http://&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;example.com&quot;&gt;
    &lt;span class=&quot;bny-input-suffix&quot;&gt;
        &lt;button class=&quot;bny-btn&quot; color=&quot;green&quot;&gt;前往&lt;/button&gt;
    &lt;/span&gt;
&lt;/div&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h3>尺寸变体</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <div class="bny-input-group" form-size="sm">
                                <span class="bny-input-prefix"><i class="bny-icon icon-search"></i></span>
                                <input type="text" class="bny-input" placeholder="size=sm">
                            </div>
                            <br>
                            <div class="bny-input-group">
                                <span class="bny-input-prefix"><i class="bny-icon icon-search"></i></span>
                                <input type="text" class="bny-input" placeholder="默认">
                            </div>
                            <br>
                            <div class="bny-input-group" form-size="lg">
                                <span class="bny-input-prefix"><i class="bny-icon icon-search"></i></span>
                                <input type="text" class="bny-input" placeholder="size=lg">
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;div class=&quot;bny-input-group&quot; form-size=&quot;sm&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;&lt;i class=&quot;bny-icon icon-search&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;size=sm&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;!-- 默认尺寸 --&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;&lt;i class=&quot;bny-icon icon-search&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;默认&quot;&gt;
&lt;/div&gt;
&lt;div class=&quot;bny-input-group&quot; form-size=&quot;lg&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;&lt;i class=&quot;bny-icon icon-search&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;size=lg&quot;&gt;
&lt;/div&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h3>禁用态</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <div class="bny-input-group">
                                <span class="bny-input-prefix"><i class="bny-icon icon-search"></i></span>
                                <input type="text" class="bny-input" placeholder="禁用" disabled>
                            </div>
                            <br>
                            <div class="bny-input-group" data-disabled="true">
                                <span class="bny-input-prefix">￥</span>
                                <input type="text" class="bny-input" placeholder="0.00">
                                <span class="bny-input-suffix">.00</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;!-- 通过 input disabled 触发 --&gt;
&lt;div class=&quot;bny-input-group&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;&lt;i class=&quot;bny-icon icon-search&quot;&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;禁用&quot; disabled&gt;
&lt;/div&gt;
&lt;!-- 通过容器 data-disabled 声明 --&gt;
&lt;div class=&quot;bny-input-group&quot; data-disabled=&quot;true&quot;&gt;
    &lt;span class=&quot;bny-input-prefix&quot;&gt;￥&lt;/span&gt;
    &lt;input type=&quot;text&quot; class=&quot;bny-input&quot; placeholder=&quot;0.00&quot;&gt;
    &lt;span class=&quot;bny-input-suffix&quot;&gt;.00&lt;/span&gt;
&lt;/div&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n02a">尺寸变体</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <input type="text" placeholder="size=sm" class="bny-input" form-size="sm">
                            <br>
                            <input type="text" placeholder="默认" class="bny-input">
                            <br>
                            <input type="text" placeholder="size=lg" class="bny-input" form-size="lg">
                            <br>
                            <select class="bny-select" form-size="sm">
                                <option>size=sm</option>
                                <option>选项2</option>
                            </select>
                            <br>
                            <select class="bny-select">
                                <option>默认</option>
                                <option>选项2</option>
                            </select>
                            <br>
                            <select class="bny-select" form-size="lg">
                                <option>size=lg</option>
                                <option>选项2</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;input class=&quot;bny-input&quot; form-size=&quot;sm&quot;&gt;
&lt;input class=&quot;bny-input&quot;&gt;  &lt;!-- 默认 --&gt;
&lt;input class=&quot;bny-input&quot; form-size=&quot;lg&quot;&gt;
&lt;select class=&quot;bny-select&quot; form-size=&quot;sm&quot;&gt;...&lt;/select&gt;
&lt;select class=&quot;bny-select&quot;&gt;...&lt;/select&gt;
&lt;select class=&quot;bny-select&quot; form-size=&quot;lg&quot;&gt;...&lt;/select&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n02">选择框</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <select name="" class="bny-select">
                                <option>请选择</option>
                                <option value="1">选项1</option>
                                <option value="2" disabled>选项2</option>
                                <option value="3" selected>选项3</option>
                                <option value="4">选项4</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;select name=&quot;&quot; class=&quot;bny-select&quot;&gt;
&lt;option &gt;请选择&lt;/option&gt;
&lt;option value=&quot;1&quot;&gt;选项1&lt;/option&gt;
&lt;option value=&quot;2&quot;&gt;选项2&lt;/option&gt;
&lt;option value=&quot;3&quot;&gt;选项3&lt;/option&gt;
&lt;/select&gt; 
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n03">单选框</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <label>
                                <input type="radio" name="radio" class="bny-radio">
                                选项1
                            </label>
                            <label>
                                <input type="radio" name="radio" class="bny-radio">
                                选项2
                            </label>
                            <label>
                                <input type="radio" disabled name="radio" class="bny-radio">
                                选项3
                            </label>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;bny-radio&quot;&gt;
    选项1
&lt;/label&gt;
&lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;bny-radio&quot;&gt;
    选项2
&lt;/label&gt;
&lt;label&gt;
    &lt;input type=&quot;radio&quot; disabled name=&quot;radio&quot; class=&quot;bny-radio&quot;&gt;
    选项3
&lt;/label&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n04">复选框</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <label>
                                <input type="checkbox" name="checkbox" class="bny-checkbox">
                                选项1
                            </label>
                            <label>
                                <input type="checkbox" name="checkbox" class="bny-checkbox">
                                选项2
                            </label>
                            <label>
                                <input type="checkbox" disabled name="checkbox" class="bny-checkbox">
                                选项3
                            </label>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;label&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;checkbox&quot; class=&quot;bny-checkbox&quot;&gt;
    选项1
&lt;/label&gt;
&lt;label&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;checkbox&quot; class=&quot;bny-checkbox&quot;&gt;
    选项2
&lt;/label&gt;
&lt;label&gt;
    &lt;input type=&quot;checkbox&quot; disabled name=&quot;checkbox&quot; class=&quot;bny-checkbox&quot;&gt;
    选项3
&lt;/label&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n05">开关框</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <label>
                                <input type="checkbox" name="switch" class="bny-switch">
                            </label>
                            <label>
                                <input type="checkbox" disabled name="switch" class="bny-switch">
                            </label>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;label&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;switch&quot; class=&quot;bny-switch&quot;&gt;
&lt;/label&gt;
&lt;label&gt;
    &lt;input type=&quot;checkbox&quot; disabled name=&quot;switch&quot; class=&quot;bny-switch&quot;&gt;
&lt;/label&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n06">滑块</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <label>
                                <input type="range" name="slider" class="bny-slider">
                            </label>
                            <label>
                                <input type="range" disabled name="slider" class="bny-slider">
                            </label>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;label&gt;
    &lt;input type=&quot;range&quot; name=&quot;slider&quot; class=&quot;bny-slider&quot;&gt;
&lt;/label&gt;
&lt;label&gt;
    &lt;input type=&quot;range&quot; disabled name=&quot;slider&quot; class=&quot;bny-slider&quot;&gt;
&lt;/label&gt;
            </pre>
                    </div>
                </div>
            </div>
            <h2 id="n07">表单集合</h2>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <form hx-ext="bny-form">
                                <div class="form-item">
                                    <label>文本框</label>
                                    <div class="input-group">
                                        <input type="text" name="text" class="bny-input">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>验证手机</label>
                                    <div class="input-group">
                                        <input type="text" name="text" class="bny-input">
                                        <button class="bny-btn">获取验证码</button>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>自定义验证</label>
                                    <div class="input-group">
                                        <input type="password" name="password" class="bny-input">
                                        <span>6 到 12 位字符</span>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>单行选择框</label>
                                    <div class="input-group">
                                        <select name="select" class="bny-select">
                                            <option value="1">选项1</option>
                                            <option value="2">选项2</option>
                                            <option value="3">选项3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>假设联动选择</label>
                                    <div class="input-group">
                                        <select name="select" class="bny-select">
                                            <option value="1">选项1</option>
                                            <option value="2">选项2</option>
                                            <option value="3">选项3</option>
                                        </select>
                                        <select name="select" class="bny-select">
                                            <option value="1">选项1</option>
                                            <option value="2">选项2</option>
                                            <option value="3">选项3</option>
                                        </select>
                                        <select name="select" class="bny-select">
                                            <option value="1">选项1</option>
                                            <option value="2">选项2</option>
                                            <option value="3">选项3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>复选框</label>
                                    <div class="input-group">
                                        <label>
                                            <input type="checkbox" name="checkbox" class="bny-checkbox">
                                            选项1
                                        </label>
                                        <label>
                                            <input type="checkbox" name="checkbox" class="bny-checkbox">
                                            选项2
                                        </label>
                                        <label>
                                            <input type="checkbox" disabled name="checkbox" class="bny-checkbox">
                                            选项3
                                        </label>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>单选框</label>
                                    <div class="input-group">
                                        <label>
                                            <input type="radio" name="radio" class="bny-radio">
                                            选项1
                                        </label>
                                        <label>
                                            <input type="radio" name="radio" class="bny-radio">
                                            选项2
                                        </label>
                                        <label>
                                            <input type="radio" disabled name="radio" class="bny-radio">
                                            选项3
                                        </label>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>开关框</label>
                                    <div class="input-group">
                                        <input type="checkbox" name="switch" class="bny-switch">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>滑块</label>
                                    <div class="input-group">
                                        <input type="range" name="slider" class="bny-slider">
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>普通文本域</label>
                                    <div class="input-group">
                                        <textarea name="textarea" class="bny-textarea"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;form hx-ext=&quot;bny-form&quot;&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;文本框&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;input type=&quot;text&quot; name=&quot;text&quot; class=&quot;bny-input&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;验证手机&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;input type=&quot;text&quot; name=&quot;text&quot; class=&quot;bny-input&quot;&gt;
            &lt;button class=&quot;bny-btn&quot;&gt;获取验证码&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;自定义验证&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;input type=&quot;password&quot; name=&quot;password&quot; class=&quot;bny-input&quot;&gt;
            &lt;span&gt;6 到 12 位字符&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;单行选择框&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;select name=&quot;select&quot; class=&quot;bny-select&quot;&gt;
                &lt;option value=&quot;1&quot;&gt;选项1&lt;/option&gt;
                &lt;option value=&quot;2&quot;&gt;选项2&lt;/option&gt;
                &lt;option value=&quot;3&quot;&gt;选项3&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;假设联动选择&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;select name=&quot;select&quot; class=&quot;bny-select&quot;&gt;
                &lt;option value=&quot;1&quot;&gt;选项1&lt;/option&gt;
                &lt;option value=&quot;2&quot;&gt;选项2&lt;/option&gt;
                &lt;option value=&quot;3&quot;&gt;选项3&lt;/option&gt;
            &lt;/select&gt;
            &lt;select name=&quot;select&quot; class=&quot;bny-select&quot;&gt;
                &lt;option value=&quot;1&quot;&gt;选项1&lt;/option&gt;
                &lt;option value=&quot;2&quot;&gt;选项2&lt;/option&gt;
                &lt;option value=&quot;3&quot;&gt;选项3&lt;/option&gt;
            &lt;/select&gt;
            &lt;select name=&quot;select&quot; class=&quot;bny-select&quot;&gt;
                &lt;option value=&quot;1&quot;&gt;选项1&lt;/option&gt;
                &lt;option value=&quot;2&quot;&gt;选项2&lt;/option&gt;
                &lt;option value=&quot;3&quot;&gt;选项3&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;复选框&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot; name=&quot;checkbox&quot; class=&quot;bny-checkbox&quot;&gt;
                选项1
            &lt;/label&gt;
            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot; name=&quot;checkbox&quot; class=&quot;bny-checkbox&quot;&gt;
                选项2
            &lt;/label&gt;
            &lt;label&gt;
                &lt;input type=&quot;checkbox&quot; disabled name=&quot;checkbox&quot; class=&quot;bny-checkbox&quot;&gt;
                选项3
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;单选框&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;label&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;bny-radio&quot;&gt;
                选项1
            &lt;/label&gt;
            &lt;label&gt;
                &lt;input type=&quot;radio&quot; name=&quot;radio&quot; class=&quot;bny-radio&quot;&gt;
                选项2
            &lt;/label&gt;
            &lt;label&gt;
                &lt;input type=&quot;radio&quot; disabled name=&quot;radio&quot; class=&quot;bny-radio&quot;&gt;
                选项3
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;开关框&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;input type=&quot;checkbox&quot; name=&quot;switch&quot; class=&quot;bny-switch&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;滑块&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;input type=&quot;range&quot; name=&quot;slider&quot; class=&quot;bny-slider&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;普通文本域&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
            &lt;textarea name=&quot;textarea&quot; class=&quot;bny-textarea&quot;&gt;&lt;/textarea&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
            </pre>
                    </div>
                </div>
            </div>

            <h2 id="n-validate">表单校验</h2>
            <blockquote class="bny-blockquote">
                基于 htmx 事件链的表单校验：在 <code>&lt;form hx-ext="bny-form"&gt;</code> 上启用，支持 HTML5 原生约束（required/pattern/minlength 等）和自定义 <code>valid-rules</code>，校验失败阻止请求并显示错误提示。
            </blockquote>

            <h3 id="n-validate-basic">基础用法</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <form hx-ext="bny-form" style="max-width:420px;">
                                <div class="form-item">
                                    <label>用户名</label>
                                    <input class="bny-input" name="user" required
                                           valid-msg-required="请输入用户名"
                                           placeholder="必填，3-20 个字符">
                                </div>
                                <div class="form-item">
                                    <label>邮箱</label>
                                    <input class="bny-input" type="email" name="email" required
                                           valid-msg-required="邮箱必填"
                                           valid-msg-type="邮箱格式不正确"
                                           placeholder="example@mail.com">
                                </div>
                                <div class="form-item">
                                    <label>密码</label>
                                    <input class="bny-input" type="password" name="pwd" required
                                           minlength="6"
                                           valid-msg-required="请输入密码"
                                           valid-msg-min="密码至少 6 位"
                                           placeholder="至少 6 位">
                                </div>
                                <div class="form-item">
                                    <label>确认密码</label>
                                    <input class="bny-input" type="password" name="pwd2"
                                           valid-rules="equals:pwd"
                                           valid-msg-equals="两次密码不一致"
                                           placeholder="再次输入密码">
                                </div>
                                <button class="bny-btn" type="submit">提交</button>
                            </form>
                            <blockquote class="bny-blockquote" style="margin-top:14px;">
                                点击提交触发校验：错误字段标红、显示提示、阻止表单提交。修正后实时清除错误。
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;form hx-ext=&quot;bny-form&quot; style=&quot;max-width:420px;&quot;&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;用户名&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; name=&quot;user&quot; required
               valid-msg-required=&quot;请输入用户名&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;邮箱&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; type=&quot;email&quot; name=&quot;email&quot; required
               valid-msg-required=&quot;邮箱必填&quot;
               valid-msg-type=&quot;邮箱格式不正确&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;密码&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; type=&quot;password&quot; name=&quot;pwd&quot;
               required minlength=&quot;6&quot;
               valid-msg-min=&quot;密码至少 6 位&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;确认密码&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; type=&quot;password&quot; name=&quot;pwd2&quot;
               valid-rules=&quot;equals:pwd&quot;
               valid-msg-equals=&quot;两次密码不一致&quot;&gt;
    &lt;/div&gt;
    &lt;button class=&quot;bny-btn&quot; type=&quot;submit&quot;&gt;提交&lt;/button&gt;
&lt;/form&gt;
                        </pre>
                    </div>
                </div>
            </div>

            <h3 id="n-validate-rules">自定义规则 valid-rules</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <form hx-ext="bny-form" style="max-width:420px;">
                                <div class="form-item">
                                    <label>用户名（3-20 字符）</label>
                                    <input class="bny-input" name="user2" required
                                           valid-rules="min:3,max:20"
                                           valid-msg-required="请输入用户名"
                                           valid-msg-min="不能少于 3 字符"
                                           valid-msg-max="不能超过 20 字符"
                                           placeholder="3-20 字符">
                                </div>
                                <div class="form-item">
                                    <label>年龄（18-99）</label>
                                    <input class="bny-input" name="age" type="number" required
                                           valid-rules="min-val:18,max-val:99"
                                           valid-msg-required="请输入年龄"
                                           valid-msg-min="不能小于 18"
                                           valid-msg-max="不能大于 99"
                                           placeholder="18-99">
                                </div>
                                <div class="form-item">
                                    <label>手机号（正则）</label>
                                    <input class="bny-input" name="phone" required
                                           valid-rules="regexp:^1[3-9]\d{9}$"
                                           valid-msg-required="请输入手机号"
                                           valid-msg-pattern="手机号格式不正确"
                                           placeholder="11 位手机号">
                                </div>
                                <button class="bny-btn" type="submit">提交</button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;!-- 长度规则 --&gt;
&lt;input required valid-rules=&quot;min:3,max:20&quot;&gt;

&lt;!-- 数值范围 --&gt;
&lt;input type=&quot;number&quot; required valid-rules=&quot;min-val:18,max-val:99&quot;&gt;

&lt;!-- 正则 --&gt;
&lt;input required valid-rules=&quot;regexp:^1[3-9]\d{9}$&quot;&gt;
                        </pre>
                    </div>
                </div>
            </div>

            <h3 id="n-validate-htmx">配合 HTMX 提交</h3>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <form hx-ext="bny-form"
                                  hx-get="/test/data/validate-success.html"
                                  hx-target="#validate-result"
                                  hx-swap="innerHTML"
                                  style="max-width:420px;">
                                <div class="form-item">
                                    <label>用户名</label>
                                    <input class="bny-input" name="user" required
                                           valid-msg-required="请输入用户名"
                                           placeholder="必填">
                                </div>
                                <div class="form-item">
                                    <label>邮箱</label>
                                    <input class="bny-input" type="email" name="email" required
                                           valid-msg-required="请输入邮箱"
                                           valid-msg-type="邮箱格式不正确"
                                           placeholder="example@mail.com">
                                </div>
                                <button class="bny-btn" type="submit">提交</button>
                            </form>
                            <div id="validate-result"></div>
                            <blockquote class="bny-blockquote" style="margin-top:14px;">
                                校验通过后才会发起 <code>hx-post</code> 请求，结果回填到下方。失败时阻止提交并标红。
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;form hx-ext=&quot;bny-form&quot;
      hx-post=&quot;/api/save&quot;
      hx-target=&quot;#result&quot; hx-swap=&quot;innerHTML&quot;&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;用户名&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; name=&quot;user&quot; required
               valid-msg-required=&quot;请输入用户名&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;邮箱&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; type=&quot;email&quot; name=&quot;email&quot; required
               valid-msg-required=&quot;请输入邮箱&quot;&gt;
    &lt;/div&gt;
    &lt;button class=&quot;bny-btn&quot; type=&quot;submit&quot;&gt;提交&lt;/button&gt;
&lt;/form&gt;
&lt;div id=&quot;result&quot;&gt;&lt;/div&gt;
                        </pre>
                    </div>
                </div>
            </div>

            <h3 id="n-validate-alert">配合 bny-alert 弹窗提示</h3>
            <blockquote class="bny-blockquote">
                在 <code>&lt;form hx-ext="bny-form"&gt;</code> 上加 <code>valid-alert</code> 属性，校验失败时除行内红字外，会自动调用 <code>bny.alert()</code> 弹出第一条错误；校验通过时弹“校验通过”。与 bny-alert 组件零耦合组合，不加属性则完全不弹窗。
            </blockquote>
            <div hx-ext="bny-tab">
                <ul class="head">
                    <li>Preview</li>
                    <li>Code</li>
                </ul>
                <div class="body">
                    <div>
                        <div class="p-12">
                            <form hx-ext="bny-form" valid-alert style="max-width:420px;">
                                <div class="form-item">
                                    <label>用户名</label>
                                    <input class="bny-input" name="user" required
                                           valid-rules="min:3,max:20"
                                           valid-msg-required="请输入用户名"
                                           valid-msg-min="不能少于 3 字符"
                                           valid-msg-max="不能超过 20 字符"
                                           placeholder="3-20 字符">
                                </div>
                                <div class="form-item">
                                    <label>邮箱</label>
                                    <input class="bny-input" type="email" name="email" required
                                           valid-msg-required="请输入邮箱"
                                           valid-msg-type="邮箱格式不正确"
                                           placeholder="example@mail.com">
                                </div>
                                <button class="bny-btn" type="submit">提交</button>
                            </form>
                            <blockquote class="bny-blockquote" style="margin-top:14px;">
                                留空或填错后点提交：顶部弹出红色 alert 显示第一条错误，同时字段标红。全部填对后点提交：弹出绿色“校验通过”。
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <pre hx-ext="bny-code">
&lt;form hx-ext=&quot;bny-form&quot; valid-alert style=&quot;max-width:420px;&quot;&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;用户名&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; name=&quot;user&quot; required
               valid-rules=&quot;min:3,max:20&quot;
               valid-msg-required=&quot;请输入用户名&quot;
               valid-msg-min=&quot;不能少于 3 字符&quot;
               valid-msg-max=&quot;不能超过 20 字符&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-item&quot;&gt;
        &lt;label&gt;邮箱&lt;/label&gt;
        &lt;input class=&quot;bny-input&quot; type=&quot;email&quot; name=&quot;email&quot; required
               valid-msg-required=&quot;请输入邮箱&quot;
               valid-msg-type=&quot;邮箱格式不正确&quot;&gt;
    &lt;/div&gt;
    &lt;button class=&quot;bny-btn&quot; type=&quot;submit&quot;&gt;提交&lt;/button&gt;
&lt;/form&gt;
                        </pre>
                    </div>
                </div>
            </div>

            <h3 id="n-validate-api">校验属性 API</h3>
            <table hx-ext="bny-table">
                <thead>
                    <tr><th>属性</th><th>说明</th></tr>
                </thead>
                <tbody>
                    <tr><td><code>hx-ext="bny-form"</code></td><td>在 <code>&lt;form&gt;</code> 上启用表单组件（布局 + 校验）</td></tr>
                    <tr><td><code>required</code></td><td>HTML5 原生必填，空值触发 <code>valid-msg-required</code></td></tr>
                    <tr><td><code>valid-msg-required</code></td><td>必填（valueMissing）错误消息</td></tr>
                    <tr><td><code>valid-msg-type</code></td><td>类型不匹配（typeMismatch，如 email）错误消息</td></tr>
                    <tr><td><code>valid-msg-pattern</code></td><td>正则不匹配（patternMismatch / 自定义 regexp 规则）错误消息</td></tr>
                    <tr><td><code>valid-msg-min</code></td><td>最短长度（tooShort / min / min-val 规则）错误消息</td></tr>
                    <tr><td><code>valid-msg-max</code></td><td>最长长度（tooLong / max / max-val 规则）错误消息</td></tr>
                    <tr><td><code>valid-msg-equals</code></td><td>equals 规则（两字段相等）错误消息</td></tr>
                    <tr><td><code>valid-msg</code></td><td>通用兜底消息，任意校验失败且未配置对应专用消息时使用</td></tr>
                    <tr><td><code>valid-rules</code></td><td>自定义规则，逗号分隔，如 <code>min:3,max:20,min-val:18,max-val:99,regexp:^1[3-9]\d{9}$,equals:pwd</code></td></tr>
                    <tr><td><code>valid-alert</code></td><td>表单级开关：开启后校验失败自动 <code>bny.alert()</code> 弹第一条错误（code 3 红），校验通过弹“校验通过”（code 1 绿）；不开启则完全不弹窗</td></tr>
                </tbody>
            </table>

            <h2 id="n08">API</h2>
            <h3>属性（表单控件）</h3>
            <table hx-ext="bny-table">
                <thead>
                    <tr><th>属性</th><th>可选值</th><th>说明</th></tr>
                </thead>
                <tbody>
                    <tr><td><code>form-size</code></td><td>sm / lg</td><td>尺寸变体，作用于 <code>bny-input</code> / <code>bny-textarea</code> / <code>bny-select</code> / <code>bny-input-group</code>（默认 38px，sm=30px，lg=46px）</td></tr>
                    <tr><td><code>data-disabled</code></td><td>true</td><td>仅作用于 <code>bny-input-group</code>，整体置灰禁用；也可由内部 input 的 <code>disabled</code> 自动触发</td></tr>
                </tbody>
            </table>
            <h3>CSS 类名</h3>
            <table hx-ext="bny-table">
                <thead>
                    <tr><th>类名</th><th>说明</th></tr>
                </thead>
                <tbody>
                    <tr><td><code>bny-input</code></td><td>输入框，支持 placeholder / disabled / focus</td></tr>
                    <tr><td><code>bny-textarea</code></td><td>多行文本框，可拖动调整高度</td></tr>
                    <tr><td><code>bny-select</code></td><td>下拉选择框，带自定义箭头</td></tr>
                    <tr><td><code>bny-radio</code></td><td>单选框，支持 checked / disabled</td></tr>
                    <tr><td><code>bny-checkbox</code></td><td>复选框，支持 checked / disabled</td></tr>
                    <tr><td><code>bny-switch</code></td><td>开关，滑动切换，支持 checked / disabled</td></tr>
                    <tr><td><code>bny-slider</code></td><td>滑块，自定义 thumb 样式</td></tr>
                    <tr><td><code>bny-input-group</code></td><td>输入框组合容器（前缀/后缀），内部 input 去边框、由容器统管圆角与焦点</td></tr>
                    <tr><td><code>bny-input-prefix</code> / <code>bny-input-suffix</code></td><td>组合的前缀/后缀插槽，可放文本、图标（<code>bny-icon</code>）或按钮（<code>bny-btn</code>）</td></tr>
                    <tr><td><code>form-item</code></td><td>表单项容器（配合 <code>hx-ext="bny-form"</code>），统一 label + 控件间距</td></tr>
                    <tr><td><code>input-group</code></td><td>表单项内的控件行，支持多控件横向排列（如 input + 按钮）</td></tr>
                    <tr><td><code>bny-input-error</code></td><td>校验失败态类，加在 input/textarea/select 上，边框变红</td></tr>
                    <tr><td><code>bny-form-error</code></td><td>校验错误提示文本元素，由 bny-form 自动注入到 <code>.form-item</code> 末尾</td></tr>
                    <tr><td><code>is-valid</code></td><td>（可选）加在 <code>.form-item</code> 上，使内部控件边框变绿，标记校验通过</td></tr>
                </tbody>
            </table>
            <h3>扩展（hx-ext）</h3>
            <table hx-ext="bny-table">
                <thead>
                    <tr><th>扩展名</th><th>说明</th></tr>
                </thead>
                <tbody>
                    <tr><td><code>bny-form</code></td><td>表单组件（布局 + 校验）：在 <code>&lt;form hx-ext="bny-form"&gt;</code> 上启用，配合 <code>form-item</code> / <code>input-group</code> 实现统一排版；同时接管原生校验，支持 HTML5 约束与 <code>valid-rules</code> / <code>valid-msg</code> 自定义规则，失败时加 <code>bny-input-error</code> 并显示 <code>bny-form-error</code></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="right-anchor-box hidden-xs col-sm3">
        <div class="right-anchor">
                <ul hx-ext="bny-anchor" anchor-rail>
                    <li class="link" anchor-target="#n01">输入框</li>
                    <li class="link" anchor-target="#n-prefix-suffix">前缀/后缀</li>
                    <li class="link" anchor-target="#n02a">尺寸变体</li>
                    <li class="link" anchor-target="#n02">选择框</li>
                    <li class="link" anchor-target="#n03">单选框</li>
                    <li class="link" anchor-target="#n04">复选框</li>
                    <li class="link" anchor-target="#n05">开关框</li>
                    <li class="link" anchor-target="#n06">滑块</li>
                    <li class="link" anchor-target="#n07">表单集合</li>
                    <li class="link" anchor-target="#n-validate">表单校验</li>
                    <li class="link" anchor-target="#n08">API</li>
                </ul>
        </div>
    </div>
</div>