<style>
    .is-404 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .is-404 i {
        font-size: 300px;
    }

    .is-404 .text {
        width: 500px;
        margin: 30px auto;
        padding-top: 20px;
        border-top: 5px solid #3c3b39;
        border-top: 5px solid var(--primary);
        font-size: 16px;
    }

    .is-404 .text h1 {
        font-size: 100px;
        line-height: 100px;
        text-align: center;
    }

    .is-404 .text h1 span {
        display: inline-block;
    }
</style>
<div class="is-404">
    <i class="icon icon-tishi"></i>
    <div class="text">
        <h1>
            <span>4</span>
            <span class="bny-anim-rotate">0</span>
            <span>4</span>
        </h1>
    </div>
</div>