<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/bunny/bunny.png" type="image/x-icon">
    <title>{$title}</title>
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link href="/assets/bunny/bunny.css" rel="stylesheet" />
    <link href="/assets/bunny/iconfont/iconfont.css" rel="stylesheet" />
    <script src="/assets/bunny/bunny.js"></script>
    <!-- webpress -->
    <link rel="stylesheet" href="/assets/webpress/webpress.css">
    <!-- highlightjs -->
    <link rel="stylesheet" href="/assets/highlight/vs2015.min.css">
    <script src="/assets/highlight/highlight.min.js"></script>
</head>

<body>