<div class="wp-nav">
    <nav class="bny-nav" hx-ext="bny-nav">
        <!-- 导航栏标题 -->
        <div class="bny-nav-title">
            <a href="/">
                {if $logo}
                <img src="{$logo}" alt="logo">
                {/if}
                <span>{$title}</span>
            </a>
            <button class="bny-btn toggle">
                <i class="icon icon-gengduo1"></i>
            </button>
        </div>
        <!-- 导航栏主体 -->
        <ul class="bny-nav-body">
            {$nav|raw}
            <li class="bny-nav-item theme" id="is_dark">
                <cite>主题</cite>
                <a class="bny-btn" circle href="javascript:;">
                    <i class="icon icon-yueliang"></i>
                </a>
            </li>
            <li class="bny-nav-item socialLinks">
                {foreach $contact as $k=>$v}
                <a href="{$v.link}" target="_blank">
                    {if isset($v.icon)}
                    <i class="{$v.icon}"></i>
                    {else/}
                    <img src="{$v.img}" alt="logo">
                    {/if}
                </a>
                {/foreach}
            </li>
        </ul>
    </nav>
</div>