<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bunny-ui</title>
    <link rel="shortcut icon" href="dist/bunny.jpg" type="image/x-icon">
    <link rel="stylesheet" href="dist/bunny.css">
    <link rel="stylesheet" href="dist/iconfont/iconfont.css">
    <script src="dist/bunny.js"></script>
</head>

<body>
    <p>
        <button class="bny-btn" id="is_dark">
            <i class="icon icon-yueliang"></i>
        </button>
    </p>
    <div align="center">

        <a href="https://workbunny.github.io/bunny-ui/">
            <img src="dist/bunny.jpg" width="81" alt="bunny">
            <p>进入仓库</p>
        </a>

    </div>
    <br>
    <div class="container">
        <div class="bny-tab" selected="1" hx-ext="bny-tab">
            <div class="bny-tab-title shadow">
                <div class="bny-tab-item" hx-get="doc/color.html">颜色</div>
                <div class="bny-tab-item" hx-get="doc/btn.html">按钮</div>
                <div class="bny-tab-item" hx-get="doc/form.html">表单</div>
                <div class="bny-tab-item" hx-get="doc/card.html">卡片</div>
                <div class="bny-tab-item" hx-get="doc/tab.html">选项卡</div>
                <div class="bny-tab-item" hx-get="doc/code.html">代码</div>
                <div class="bny-tab-item" hx-get="doc/tips.html">提示</div>
                <div class="bny-tab-item" hx-get="doc/marquee.html">走马灯</div>
                <div class="bny-tab-item" hx-get="doc/alert.html">警示</div>
                <div class="bny-tab-item" hx-get="doc/flexbox.html">弹性盒子</div>
                <div class="bny-tab-item" hx-get="doc/typography.html">排版</div>
                <div class="bny-tab-item" hx-get="doc/list.html">列表</div>
                <div class="bny-tab-item" hx-get="doc/menu.html">菜单</div>
                <div class="bny-tab-item" hx-get="doc/subsidiary.html">辅助</div>
            </div>
            <div class="bny-tab-body" hx-trigger="load"></div>
        </div>
    </div>
    <script>
        // 主题切换函数
        const changeTheme = () => {
            document.querySelector('html').classList.toggle('dark')
        }
        const changeBtn = (func, $eve) => {
            const x = $eve.clientX
            const y = $eve.clientY
            // 计算鼠标点击位置距离视窗的最大圆半径
            const endRadius = Math.hypot(
                Math.max(x, innerWidth - x),
                Math.max(y, innerHeight - y),
            )
            document.documentElement.style.setProperty('--x', x + 'px')
            document.documentElement.style.setProperty('--y', y + 'px')
            document.documentElement.style.setProperty('--r', endRadius + 'px')
            // 判断浏览器是否支持document.startViewTransition
            if (document.startViewTransition) {
                // 如果支持就使用document.startViewTransition方法
                document.startViewTransition(() => {
                    func.call() // 这里的函数是切换主题的函数，调用changeBtn函数时进行传入
                })
            } else {
                // 如果不支持，就使用最原始的方式，切换主题
                func.call()
            }
        }
        htmx.on("#is_dark", "click", function (e) {
            let find = htmx.find("i", this)
            if (find.getAttribute("class") == "icon icon-yueliang") {
                find.setAttribute("class", "icon icon-taiyang")
                changeBtn(changeTheme, e)
            } else {
                find.setAttribute("class", "icon icon-yueliang")
                changeBtn(changeTheme, e)
            }
        })
    </script>
</body>

</html>