<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bunny-ui</title>
    <link rel="shortcut icon" href="dist/bunny.jpg" type="image/x-icon">
    <link rel="stylesheet" href="dist/bunny.css">
    <link rel="stylesheet" href="dist/iconfont/iconfont.css">
    <script src="dist/bunny.js"></script>
</head>

<body>
    <p>
        <button class="bny-btn" id="is_dark">
            <i class="icon icon-yueliang"></i>
        </button>
    </p>
    <div class="container">
        <div class="bny-tab" selected="6" hx-ext="bny-tab">
            <div class="bny-tab-title shadow">
                <div class="bny-tab-item" hx-get="doc/color.html">颜色</div>
                <div class="bny-tab-item" hx-get="doc/btn.html">按钮</div>
                <div class="bny-tab-item" hx-get="doc/form.html">表单</div>
                <div class="bny-tab-item" hx-get="doc/card.html">卡片</div>
                <div class="bny-tab-item" hx-get="doc/tab.html">选项卡</div>
                <div class="bny-tab-item" hx-get="doc/code.html">代码</div>
                <div class="bny-tab-item" hx-get="doc/tips.html">提示</div>
            </div>
            <div class="bny-tab-body" hx-trigger="load"></div>
        </div>
    </div>
    <script>
        htmx.on("#is_dark", "click", function () {
            let find = htmx.find("i", this)
            if (find.getAttribute("class") == "icon icon-yueliang") {
                find.setAttribute("class", "icon icon-taiyang")
                document.querySelector("html").setAttribute("class", "dark")
            } else {
                find.setAttribute("class", "icon icon-yueliang")
                document.querySelector("html").setAttribute("class", "")
            }
        })
    </script>
</body>

</html>