<div class="alert-primary">
    表格
</div>
<table>
    <colgroup>
        <col width="150">
        <col width="150">
        <col>
        <col width="150">
    </colgroup>
    <thead>
        <tr>
            <th>人物</th>
            <th>民族</th>
            <th>格言</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>孔子</td>
            <td>华夏</td>
            <td>有朋自远方来，不亦乐乎</td>
            <td>
                <div class="bny-btn-group">
                    <button class="bny-btn">添加</button>
                    <button class="bny-btn">删除</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>孟子</td>
            <td>华夏</td>
            <td>穷则独善其身，达则兼济天下</td>
            <td>
                <div class="bny-btn-group">
                    <button class="bny-btn">添加</button>
                    <button class="bny-btn">删除</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>