<div class="container wp-home">
    <div class="header">
        <h1 class="logo"><span>{$name}</span></h1>
        <p class="subtitle">{$text}</p>
        <div class="buttons">
            {foreach $actions as $k=>$v}
            <a href="{$v.link}" class="bny-btn {$v.theme}">{$v.text}</a>
            {/foreach}
        </div>
    </div>

    <main>
        <section class="hero">
            <p class="description">{$description}</p>
        </section>

        <section class="features">
            {foreach $features as $k=>$v}
            <article class="feature-card">
                <div class="icon">{$v.icon}</div>
                <h3>{$v.title}</h3>
                <p>{$v.details}</p>
            </article>
            {/foreach}
        </section>
        <footer>
            <p>基于MIT许可发布</p>
            <p>Copyright © 2025-{:date("Y")} BunnyUI</p>
            <p>
                <a href="http://beian.miit.gov.cn/">
                    {$icp}
                </a>
            </p>
        </footer>
    </main>
</div>