/* 按钮 */

/* 默认按钮 */
.bny-btn {
    color: var(--primary);
    background-color: var(--white);
    border: 2px solid var(--primary);
    padding: 4px 11px;
    border-radius: var(--border-radius-large);
    /* overflow: hidden; */
    text-align: center;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
    margin-bottom: 8px;
    text-decoration: none;
}

a.bny-btn {
    display: inline-block;
}

.bny-btn:hover {
    cursor: pointer;
    color: var(--primary-10);
    background-color: var(--white-10);
    border: 2px solid var(--primary-10);
}

.bny-btn:active {
    color: var(--primary-40);
    background-color: var(--white-40);
    border: 2px solid var(--primary-40);
    transform: var(--transform-3d-010);
    box-shadow: var(--box-shadow-hover);
}

.bny-btn.bg-secondary:hover {
    color: var(--white-10);
    background-color: var(--secondary-10);
    border-color: var(--secondary-10);
}

.bny-btn.bg-secondary:active {
    color: var(--white-40);
    background-color: var(--secondary-40);
    border-color: var(--secondary-40);
}

.bny-btn.bg-success:hover {
    color: var(--white-10);
    background-color: var(--success-10);
    border-color: var(--success-10);
}

.bny-btn.bg-success:active {
    color: var(--white-40);
    background-color: var(--success-40);
    border-color: var(--success-40);
}

.bny-btn.bg-warning:hover {
    color: var(--white-10);
    background-color: var(--warning-10);
    border-color: var(--warning-10);
}

.bny-btn.bg-warning:active {
    color: var(--white-40);
    background-color: var(--warning-40);
    border-color: var(--warning-40);
}

.bny-btn.bg-danger:hover {
    color: var(--white-10);
    background-color: var(--danger-10);
    border-color: var(--danger-10);
}

.bny-btn.bg-danger:active {
    color: var(--white-40);
    background-color: var(--danger-40);
    border-color: var(--danger-40);
}

.bny-btn.bg-muted:hover {
    color: var(--white-10);
    background-color: var(--muted-10);
    border-color: var(--muted-10);
}

.bny-btn.bg-muted:active {
    color: var(--white-40);
    background-color: var(--muted-40);
    border-color: var(--muted-40);
}

.bny-btn.bg-white:hover {
    color: var(--black-10);
    background-color: var(--white-10);
    border-color: var(--white-10);
}

.bny-btn.bg-white:active {
    color: var(--black-40);
    background-color: var(--white-40);
    border-color: var(--white-40);
}

.bny-btn.bg-black:hover {
    color: var(--white-10);
    background-color: var(--black-10);
    border-color: var(--black-10);
}

.bny-btn.bg-black:active {
    color: var(--white-40);
    background-color: var(--black-40);
    border-color: var(--black-40);
}

/* ------------------------- */
.bny-btn.border-secondary:hover {
    border-color: var(--secondary-10);
    color: var(--secondary-10);
}

.bny-btn.border-secondary:active {
    border-color: var(--secondary-40);
    color: var(--secondary-40);
}

.bny-btn.border-success:hover {
    border-color: var(--success-10);
    color: var(--success-10);
}

.bny-btn.border-success:active {
    border-color: var(--success-40);
    color: var(--success-40);
}

.bny-btn.border-warning:hover {
    border-color: var(--warning-10);
    color: var(--warning-10);
}

.bny-btn.border-warning:active {
    border-color: var(--warning-40);
    color: var(--warning-40);
}

.bny-btn.border-danger:hover {
    border-color: var(--danger-10);
    color: var(--danger-10);
}

.bny-btn.border-danger:active {
    border-color: var(--danger-40);
    color: var(--danger-40);
}

.bny-btn.border-muted:hover {
    border-color: var(--muted-10);
    color: var(--muted-10);
}

.bny-btn.border-muted:active {
    border-color: var(--muted-40);
    color: var(--muted-40);
}

.bny-btn.border-white:hover {
    border-color: var(--white-10);
    color: var(--white-10);
}

.bny-btn.border-white:active {
    border-color: var(--white-40);
    color: var(--white-40);
}

.bny-btn.border-black:hover {
    border-color: var(--black-10);
    color: var(--black-10);
}

.bny-btn.border-black:active {
    border-color: var(--black-40);
    color: var(--black-40);
}

.bny-btn.bny-btn-disabled,
button[disabled].bny-btn {
    cursor: not-allowed;
    opacity: 0.5;
}

[round].bny-btn {
    border-radius: 18px;
    overflow: hidden;
}

[circle].bny-btn {
    border-radius: 50%;
    overflow: hidden;
    padding: 11.5px 12px;
    text-align: center;
}

.bny-btn+.bny-btn {
    margin-left: 4px;
}

.bny-btn-group {
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: nowrap;
}

.bny-btn-group:before,
.bny-btn-group:after {
    display: table;
    content: "";
}

.bny-btn-group .bny-btn {
    margin: 0;
    border-radius: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}

.bny-btn-group .bny-btn:first-child {
    border-left-width: 2px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.bny-btn-group .bny-btn:last-child {
    border-right-width: 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bny-btn-group+.bny-btn-group {
    margin-left: 4px;
}