/* 下拉菜单 */
.bny-dropdown {
    position: fixed;
    min-width: min-content;
    background: var(--white);
    box-shadow: var(--box-shadow-small);
    opacity: 0;
    transform: translateY(-10px);
    transition: var(--transition);
    z-index: 1000;
    height: 0;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

.bny-dropdown.active {
    opacity: 1;
    transform: translateY(0);
    height: auto;
}