/* 字段集 */
fieldset.bny-fieldset {
    border-color: var(--primary);
    margin-bottom: 10px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
}

fieldset legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    color: var(--primary);
    line-height: 1.8;
}

fieldset.bny-fieldset .bny-fieldset-box {
    padding: 12px;
}

fieldset.bny-fieldset-title {
    margin: 12px 0;
    border-width: 0;
    border-top-width: 1px;
    border-color: var(--primary);
}