/* 列表 */
ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: upper-alpha;
}

ol ol ol {
    list-style-type: upper-roman;
}

ol ol ol ol {
    list-style-type: lower-alpha;
}

ol ol ol ol ol {
    list-style-type: lower-roman;
}

ul {
    list-style: none;
    margin-left: 0;
}

ul li::before {
    content: "-";
}

ul li {
    text-indent: -7px;
}

ul li .badge,
ul li [popover-bottom]::after,
ul li [popover-left]::after,
ul li [popover-right]::after,
ul li [popover-top]::after {
    text-indent: 0;
}

ul li::before {
    left: -7px;
    position: relative;
}

ul ul li::before {
    content: "+";
}

ul ul ul li::before {
    content: "~";
}

ul ul ul ul li::before {
    content: "⤍";
}

ul ul ul ul ul li::before {
    content: "⁎";
}

ul.inline li {
    display: inline;
    margin-left: 5px;
}