/* 菜单栏 */
.bny-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-small);
    width: min-content;
}

.bny-menu li {
    list-style: none;
}

.bny-menu menu {
    margin: 0;
}

.menu-list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 4px;
}

.menu-list+.menu-list {
    border-top: 1px solid var(--primary-10);
}

.menu-sub-list {
    display: none;
    padding: 4px;
    background-color: var(--white);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-small);
    position: absolute;
    left: 100%;
    right: 0;
    z-index: 100;
    width: 100%;
    top: 0;
    flex-direction: column;
}

.menu-sub-list:hover {
    display: flex;
}

.menu-item {
    position: relative;
}

.menu-btn {
    font: inherit;
    border: 0;
    padding: 4px 4px;
    padding-right: 36px;
    width: 100%;
    border-radius: var(--border-radius-large);
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--white);
    white-space: nowrap;
}

.menu-btn:hover {
    cursor: pointer;
    background-color: var(--primary-10);
    color: var(--white);
}

.menu-btn:hover+.menu-sub-list {
    display: flex;
}

.menu-btn .icon {
    flex-shrink: 0;
    margin-right: 5px;
}

.menu-btn .icon:nth-of-type(2) {
    margin-right: 0;
    position: absolute;
    right: 8px;
}