/* 选项卡 */
.bny-tab {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.bny-tab .bny-tab-title {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid var(--primary);
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    min-height: 44px;
}

.bny-tab[nowrap] .bny-tab-title {
    overflow: auto;
    flex-wrap: nowrap;
    padding: 0 30px;
}

.bny-tab[nowrap] .bny-tab-title::-webkit-scrollbar {
    display: none;
}

.bny-tab[nowrap] .bny-tab-setwin {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 0;
}

.bny-tab[nowrap] .bny-tab-setwin span {
    font-size: var(--font-size-20);
    padding: 0 5px;
    cursor: pointer;
    background-color: var(--white);
    line-height: 40px;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
}

.bny-tab[nowrap] .bny-tab-setwin span:first-child {
    float: left;
}

.bny-tab[nowrap] .bny-tab-setwin span:last-child {
    float: right;
}

.bny-tab .bny-tab-title .bny-tab-item {
    position: relative;
    line-height: 40px;
    min-width: min-content;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: var(--primary);
    white-space: nowrap;
}

.bny-tab .bny-tab-title .bny-tab-item>.del {
    margin-left: 5px;
    font-size: var(--font-size);
}

.bny-tab .bny-tab-title .bny-tab-item>.del:hover {
    background: var(--danger);
}

.bny-tab .bny-tab-title .bny-tab-item:hover {
    background-color: var(--primary-10);
    color: var(--white-10);
}

.bny-tab .bny-tab-title .bny-tab-item:active {
    background-color: var(--primary-40);
    color: var(--white-40);
}

.bny-tab .bny-tab-title .this {
    background-color: var(--primary);
    color: var(--white);
}

.bny-tab .bny-tab-body {
    padding: 15px 0;
}

.bny-tab .bny-tab-body>div {
    display: none;
}

.bny-tab .bny-tab-body .this {
    display: block;
}