.bny-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--black);
    box-shadow: var(--box-shadow-005);
    border-radius: var(--border-radius-8);
    overflow: hidden;
    margin: 10px 0;
    border: 1px solid var(--gray-shallow);
    transition: var(--transition);

    &[card-model="transition"] {
        cursor: pointer;
    }

    &[card-model="transition"]:hover {
        box-shadow: var(--box-shadow-hover-005);
        transform: translateY(-2px);
        border-color: var(--default-shallow);
    }

    & > img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    & > .head {
        padding: 14px 18px;
        border-bottom: 1px solid var(--gray-shallow);
    }

    & > .foot {
        padding: 14px 18px;
        border-top: 1px solid var(--gray-shallow);
    }

    & > .body {
        flex: 1 1 auto;
        padding: 18px;

        & > .title {
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-semibold);
            margin: 0 0 10px 0;
            line-height: var(--line-height-heading);
            color: var(--black);
        }

        & > .subtitle {
            font-size: var(--font-size-sm);
            margin-bottom: 8px;
            color: var(--black-shallow);
            font-weight: var(--font-weight-medium);
        }

        & > .content {
            margin-bottom: 8px;
            line-height: var(--line-height);
            color: var(--black-middle);
        }
    }
}
