.bny-dropdown {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: var(--transition);
    z-index: 1000;
    background: none;
    color: var(--default);

    &.up {
        transform: translateY(8px); 
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        &.up {
            transform: translateY(0);
        }
    }


}