.bny-dropdown {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    transition: var(--transition);
    z-index: 1000;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow-055);
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-shallow);

    &.up {
        transform: translateY(6px);
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        &.up {
            transform: translateY(0);
        }
    }
}
