/* ========== 引用块 ========== */
.bny-blockquote {
    margin-bottom: 12px;
    padding: 16px 20px;
    line-height: var(--line-height);
    border: 1.5px solid var(--default);
    border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
    border-left-width: 4px;
    box-shadow: var(--box-shadow-005);
    background-color: var(--white);
    color: var(--black-middle);
    font-style: italic;

    &[sub-color="green"] {
        border-color: var(--green);
    }

    &[sub-color="yellow"] {
        border-color: var(--yellow);
    }

    &[sub-color="red"] {
        border-color: var(--red);
    }

    &[sub-color="blue"] {
        border-color: var(--blue);
    }
}

/* ========== 字段集 ========== */
.bny-fieldset {
    border: 1.5px solid var(--gray-middle);
    border-radius: var(--border-radius);
    margin-bottom: 14px;
    padding: 0;

    & > legend {
        margin-left: 20px;
        padding: 0 12px;
        font-size: var(--font-size);
        font-weight: var(--font-weight-semibold);
        color: var(--default);
        line-height: 1.8;
    }

    & > .box {
        padding: 16px;
    }
}

.bny-fieldset-title {
    margin: 14px 0;
    border-width: 0;
    border-top: 1.5px solid var(--gray-middle);

    & > legend {
        margin-left: 20px;
        padding: 0 12px;
        font-size: var(--font-size);
        font-weight: var(--font-weight-semibold);
        color: var(--default);
        line-height: 1.8;
    }
}

/* ========== 分割线 ========== */
hr {
    height: 0;
    line-height: 0;
    margin: 14px 0;
    padding: 0;
    border: none;
    border-bottom: 1.5px solid var(--default-middle);
    clear: both;
    overflow: hidden;
    background: none;

    &[sub-color="green"] {
        border-color: var(--green-middle);
    }

    &[sub-color="yellow"] {
        border-color: var(--yellow-middle);
    }

    &[sub-color="red"] {
        border-color: var(--red-middle);
    }

    &[sub-color="blue"] {
        border-color: var(--blue-middle);
    }
}
