[hx-ext~="bny-tab"] {
    width: 100%;
    position: relative;

    &>.btn-left,
    &>.btn-right,
    &>.btn-more {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        z-index: 1;
        background-color: var(--white-shallow);
        border: 1px solid var(--default-shallow);
        border-radius: var(--border-radius);
        cursor: pointer;
        user-select: none;
        transition: background-color var(--transition),
            border-color var(--transition),
            box-shadow var(--transition);

        & i {
            font-size: var(--font-size-24);
            color: var(--black-shallow);
            transition: var(--transition);
        }

        &:hover {
            background-color: var(--white);
            border-color: var(--default);

            & i {
                color: var(--default);
            }
        }

        &:active i {
            transform: scale(0.8);
        }
    }

    &>.btn-left {
        left: 0;
    }

    &>.btn-right {
        right: 32px;
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &>.btn-more {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        right: 0;
    }

    &>.head {
        overflow: auto hidden;
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: flex-start;
        height: 32px;
        position: relative;
        border-bottom: 1px solid var(--gray-shallow);

        &.scrollbar::-webkit-scrollbar {
            height: 0;
        }

        &>li {
            display: inline-flex;
            padding: 0 16px;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: var(--font-size);
            color: var(--black-shallow);
            cursor: pointer;
            user-select: none;
            position: relative;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            transition: color var(--transition),
                background-color var(--transition);

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -1px;
                height: 2px;
                width: 0;
                background-color: var(--default);
                transform: translateX(-50%);
                transition: width var(--transition);
            }

            &:hover {
                color: var(--default);
                background-color: var(--white-shallow);
            }

            &.this {
                color: var(--default);

                &::after {
                    width: 100%;
                }
            }

            &>i {
                margin-left: 6px;
                font-size: 12px;
                padding: 2px;
                border-radius: 50%;
                color: var(--black-shallow);
                transition: var(--transition);

                &:hover {
                    background-color: var(--red);
                    color: var(--white-common);
                }
            }
        }
    }

    &>.body {
        position: relative;

        &>div {
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition);
            pointer-events: none;
            overflow: hidden;
        }

        &>div.show {
            height: auto;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            overflow: unset;
        }
    }
}