.bny-tag {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    background-color: var(--default-shallow);
    color: var(--default);
    border: 1px solid var(--default);
    padding: 4px 12px;
    line-height: 1.4;
    box-sizing: border-box;
    cursor: default;
    height: 26px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-sm);
    position: relative;
    margin-left: 8px;
    transition: var(--transition-fast);
    white-space: nowrap;

    &::before {
        border-right: 7px solid var(--default);
        content: "";
        position: absolute;
        left: -7px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
    }

    &:hover {
        opacity: 0.9;
    }

    /* 绿色 */
    &[tag-color="green"] {
        background-color: var(--green-shallow);
        color: var(--green);
        border-color: var(--green);

        &::before {
            border-right-color: var(--green);
        }
    }

    /* 蓝色 */
    &[tag-color="blue"] {
        background-color: var(--blue-shallow);
        color: var(--blue);
        border-color: var(--blue);

        &::before {
            border-right-color: var(--blue);
        }
    }

    /* 黄色 */
    &[tag-color="yellow"] {
        background-color: var(--yellow-shallow);
        color: var(--yellow);
        border-color: var(--yellow);

        &::before {
            border-right-color: var(--yellow);
        }
    }

    /* 红色 */
    &[tag-color="red"] {
        background-color: var(--red-shallow);
        color: var(--red);
        border-color: var(--red);

        &::before {
            border-right-color: var(--red);
        }
    }

    /* 禁用 */
    &[tag-disabled] {
        cursor: not-allowed;
        opacity: 0.45;
    }
}
